<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <p><a href="/cause-error">Cause 500 Error (Route)</a></p>
  <p><a href="/cause-error-controller">Cause 500 Error (Controller)</a></p>
  <p><a href="/cause-error-middleware">Cause 500 Error (Middleware)</a></p>
</footer>