* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  height: 100vh;
}

#app-container {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  & a {
    text-decoration: none;
    color: black;
  }
}

.siteName {
  font-size: xx-large;
}

nav {
  display: flex;
  width: 100%;
}

nav ul {
  width: 100%;
  display: flex;
  padding: 1rem;
  margin: 1rem;
  justify-content: space-evenly;
  list-style: none;
  background-color: black;
  color: white;
  & a {
    color: white;
    text-decoration: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  flex-grow: 1;
}

.heroHolder {
  position: relative;
  & img {
    width: clamp(200px, 100%, 600px);
    height: auto;
  }
}

.statsText{
  & h3 {
    color: rgb(86, 241, 241);
  }
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  background-color: rgba(119, 119, 119, 0.6);
  padding: 0.25rem;
  & ul {
    list-style: none;
    & li {
      color: rgb(86, 241, 241);
      font-size: large;
      margin: 0.25rem;
    }
  }
  & button {
    width: 8rem;
    height: auto;
    border: none;
    color: none;
    margin: 0;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    & img {
      width: 100%;
      height: auto;
    }
  }
}

.reviewsAndUpgrades {
  margin: 2rem 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  & > *{
    margin: 1rem 0;
  }
}

#upgrades h2 {
  margin: 1rem 0;
}

#upgrades ul { 
  list-style: none;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 0.5rem;
}

#upgrades li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  & img {
    max-width: 100px;
    height: auto;
  }
  & .img-container {
    width: clamp(100px, 100%, 400px);
    height: 90%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 151, 197);
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem; /* Space between grid items */
  list-style: none;
  align-items: center;
  justify-items: center;
  & a {
    text-decoration: none;
    color: black;
  }
  & li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#item-display {
  display: flex;
  flex-direction: column;
  & img {
    width: clamp(200px, 100%, 600px);
    height: auto;   
  }
  & ul {
    list-style: none;
  }
  & h2, p, li {
    margin: 1rem;
  }
}

#lost-img {
  width: 60%;
  height: auto;
}

footer {
  margin: 1rem;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: clamp(200px, 80%, 500px);
  align-items: center;
  background-color: rgb(51, 99, 138);
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5rem 0;

  & a {
    color: white;
  }
}

#management {
  display: flex;
  & a {
    color: white;
    text-decoration: none;
    margin: 2rem;
    padding: 0.5rem;
    background-color: rgb(46, 116, 116);
    border-radius: 10px;
  }
}

#register-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: clamp(200px, 80%, 500px);
  align-items: center;
  background-color: rgb(51, 99, 138);
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5rem 0;  
}

#modify-classification, #modify-inventory {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: clamp(200px, 80%, 500px);
  align-items: center;
  background-color: rgb(51, 99, 138);
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5rem 0;
}

form {
  width: 90%;
  display: flex;
  flex-direction: column;

  & input[type="text"], & input[type="email"], & input[type="number"], & input[type="url"] {
    height: 2rem;
    border-radius: 10px;
    border: none;
    padding: 0 0.5rem;
  }

  & select {
    height: 2rem;
    border-radius: 10px;
    border: none;
    padding: 0 0.5rem;  
  }

  & input[type="submit"] {
    margin: 1rem 0;
    width: fit-content;
    align-self: center;
    border-radius: 20px;
    border: none;
    padding: 0.5rem;
  }

  & input[type="submit"]:hover {
    background-color: gainsboro;
  }
}

.label-input {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

@media screen and (min-width: 700px) {
  body {
    background-image: url('/images/site/checkerboard.jpg');
    background-repeat: repeat;
  }
  #app-container {
    width: clamp(500px, 80%, 900px);
    height: fit-content;
    min-height: 90%;
    margin: 0.5rem 2rem;
    border: 4px solid aqua;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    z-index: 1;
  }

  #item-display {
    flex-direction: row;
    justify-content: space-between;
    & img {
      width: 300px;
      height: auto;       
    }
  }
  .reviewsAndUpgrades {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    & #upgrades, & #reviews {
      flex-grow: 1;
      & h2 {
        margin: 0;
      }
      margin: 1rem;
    }
  }
}